
bin/
obj/


*.user
*.suo
*.userosscache
*.sln.docstates


.vs/
.idea/


publish/
**/publish/


.DS_Store
Thumbs.db
desktop.ini


*.log


_ReSharper*/
*.DotSettings.user


*.nupkg
project.assets.json


.vscode/


AppData/